spring:
  application:
    name: rest-spring-java
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false

logging:
  level:
    root: DEBUG
    com.wykmmam: DEBUG